@charset "utf-8";
/* CSS Document */
.wrapper{
		
		font: 1.2em Candara, arial, sans-serif;
		display: grid;
		grid-gap: 10px;
  		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		margin: 0px;
		}

.main-head {
	grid-column: 1/2;
	text-align: center;
	font-size: 35px;
}
.main-nav {
	grid-column: 1/4;
}

.content {
	grid-column: 1/4;
}

.main-footer {
	grid-column: 1/4;
}

.button {
  background-color: #D2EBC4; /* Green */
  border: none;
  color: #000000;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 8em;
}

h1{font-size: 20px;
text-align: center;
}

.desktop-nav {
	
	display: none;
}

.billede-1 {
		display: none;
		grid-column: 3/13;
		grid-row: 3;
	}
	
	.personalebeskrivelse-1 {
		display: none;
		grid-column: 5/13;
		grid-row: 3;
	}
	
	.billede-2{
		display: none;
		grid-column: 3/13;
		grid-row: 4;
	}
	
	.personalebeskrivelse-2 {
		display: none;
		grid-column: 5/13;
		grid-row: 4;
	}
	
	.billede-3{
		display: none;
		grid-column: 3/13;
		grid-row: 5;
	}
	
	.personalebeskrivelse-3 {
		display: none;
		grid-column: 5/13;
		grid-row: 5;
	}
	
	.billede-4{
		display: none;
		grid-column: 3/13;
		grid-row: 6;
	}
	
	.personalebeskrivelse-4 {
		display: none;
		grid-column: 5/13;
		grid-row: 6;
	}

@media (min-width: 700px) {
	.wrapper{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
	/*Elementer fra mobil version*/
	.main-head {
		text-align: center;
		grid-column: 5/9;
		grid-row: 2;
		font-family: Merienda One;
	}
	
	.content {
		display: none;
	}
	
	.main-nav {
		display: none;
	}
	
	
	/*Elementer til Desktop version*/
	/*Det her er styling af Top navigationen*/
.desktop-nav {
	grid-column: 1/13;
	display: block;
}
#top-nav {	
	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	background-color: #467302;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

li a:hover {
  	background-color: #111;
}

	.billede-1 {
		display: grid;
		grid-column: 3/13;
		grid-row: 3;
	}
	
	.personalebeskrivelse-1 {
		display: grid;
		grid-column: 5/13;
		grid-row: 3;
	}
	
	.billede-2{
		display: grid;
		grid-column: 3/13;
		grid-row: 4;
	}
	
	.personalebeskrivelse-2 {
		display: grid;
		grid-column: 5/13;
		grid-row: 4;
	}
	
	.billede-3{
		display: grid;
		grid-column: 3/13;
		grid-row: 5;
	}
	
	.personalebeskrivelse-3 {
		display: grid;
		grid-column: 5/13;
		grid-row: 5;
	}
	
	.billede-4{
		display: grid;
		grid-column: 3/13;
		grid-row: 6;
	}
	
	.personalebeskrivelse-4 {
		display: grid;
		grid-column: 5/13;
		grid-row: 6;
	}
	
.main-footer {
		grid-column: 1/13;
		text-align: center;
		background-color: #467302;
		color:white;
		font-family: Open Sans;
	}
	
}